.details{
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
}
.gallery {
    height: 35rem;
    padding-top: 25rem;
    display: flex;
    position: relative;
    width: 100%;
    border-radius: .5rem;
}
.gallery-img {
    width: 100%;
    height: 22rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    object-fit: contain;
    border-radius: .5rem;
}
.gallery-thumb {
    padding-top: 6px;
    margin: -2rem .4rem 1rem .4rem;
    display: block;
    transition: all .2s;
}
.gallery-thumb:active{
    transform: scale(.85);
}
.gallery-thumb img{
    object-fit: cover;
    border-radius: .5rem;
    cursor: pointer;
}
.gallery-selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.gallery-selector:checked + .gallery-img {
    opacity: 1;
}
.gallery-selector:checked ~ .gallery-thumb > img {
    box-shadow: 0 0 0 2px #000;
}
@media screen and (max-width: 991px){
    .gallery{
        height: 24rem;
        padding-top: 20rem;
    }
    .gallery-img{
        height: 17rem;
    }
}
@media screen and (max-width: 768px){
    .gallery{
        height: 30rem;
        padding-top: 20rem;
    }
    .gallery-img{
        height: 17rem;
    }
}
.product-exp{
    position: relative;
    width: 100%;
    padding: .2rem .15rem;
}
.product-exp .title{
    font-size: var(--h2-font-size);
    color: var(--text-color);
    text-align: left;
    margin: 0 0 1rem 0;
}
.product-exp .title:before{
    content: "\f10d";
    font-family: FontAwesome;
    padding-right: .3rem;
    color:transparent;
    -webkit-text-stroke:2px var(--blue-color-alt);
    font-size: var(--h2-font-size);
}
.product-exp .bold{
    display: inline-block;
    font-size: var(--normal-font-size);
    margin: .2rem 0;
    color:var(--text-color);
}
.product-exp .cat:before{
    content: "\f292";
    font-family: FontAwesome;
    padding-right: .3rem;
    color:transparent;
    -webkit-text-stroke:1px var(--blue-color-alt);
    font-size: var(--normal-font-size);
}
.product-exp .exp:before{
    content: "\f304";
    font-family: FontAwesome;
    padding-right: .3rem;
    color:transparent;
    -webkit-text-stroke:1px var(--blue-color-alt);
    font-size: var(--normal-font-size);
}
.product-exp p{
    color:var(--text-color);
    font-size: var(--normal-font-size);
}

