.intro-area{
    position: relative;
    width: 100%;
    margin: 1.5rem 0;
    padding: 0 .2rem;
}
.intro-box{
    position: relative;
    width: 100%;
    padding: 2.5rem;
    border-radius: .5rem;
    color:#fff;
    text-shadow: 0 0 2px #333;
    background-image: linear-gradient(to right, #667eea, #a459dc, #6B8DD6, #a33aef);
    box-shadow: 0 4px 15px 0 rgba(102, 126, 228, 0.75);
    text-align: left;
    background-size: 150% 120%;
    transition: all .3s;
}
.intro-box:hover{
    background-position:90% 50%;
}
.intro-box h2{
    font-size: var(--h2-font-size);
}
.intro-link{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-link a{
    padding: 1rem 1.5rem;
    background: #fff;
    border-radius: .4rem;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
    text-shadow: none;
    transition: all .2s;
    animation: pulse-red 2s infinite;
}
.intro-link a:hover{
    text-decoration: none;
    background: #f8f8ff;
    color: var(--text-color);
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.135);
}
@keyframes pulse-red {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 252, 249, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}
@media screen and (max-width: 768px){
    .intro-box{
        text-align: center;
    }
    .intro-link{
        margin: .6rem 0;
    }
}