<div class="section" data-aos="zoom-in" id="biz-kimiz">

    <div class="container">
        <div class="row">
            <div class="col-12 px-1">
                <div class="head">
                    <h1 data-value="Biz Kimiz?">Biz Kimiz?</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-2">
                <p class="text-small" data-aos="zoom-in">
                   {% if who_us.content %}
                   {{ who_us.content }}
                   {% endif %}
                </p>
                {% if page_item %}
                <div class="btn" data-aos="zoom-in">
                    <a href="{% url 'page:corporate' page_item.slug %}" class="btn-hover color">Bizi Daha İyi Tanıyın!</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</div>

