<div class="categories-area">
    <div class="container">
        <div class="row">
            {% if categories %}
            {% for category in categories %}
            <div class="col-md-3 col-6">
                <div class="categori-box" data-aos="zoom-in">
                    <a href="{% url 'page:filter_category' category.slug %}">{{ category.categorie_name }}</a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
           
        </div>
        <div class="btn" data-aos="zoom-in">
            <a href="{% url 'page:products' %}" class="btn-hover color">Tüm Ürünleri Görün!</a>
        </div>
    </div>
</div>