<div data-aos="zoom-in" class="intro-area">
    <div class="container">
        <div class="intro-box">
            <div class="row">
                <div class="col-md-8 col-12 ">
                    <h2>Ürünlerimizi Yakından Tanıyın</h2>
                    <p class="text-small p-0 m-0">Ürünlerimiz hakkında detaylı bilgi almak için bizimle iletişime geçebilirsiniz!</p>
                </div>
                <div class="col-md-4 col-12">
                    <div class="intro-link">
                        <a href="{% url 'page:contact' %}">İletişime Geçin!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>