<div class="search-area my-4">
    <div class="container search-button p-4">
        <form>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-1 col-2 m-0 ">
                    <div class="icon">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-sm-11 col-10 m-0 ">
                    <input type="search" name="keyword" placeholder="Size nasıl yardımcı olabiliriz?" required id="search">
                </div>
            </div>
        </form>
    </div>
</div>