<section class="slider-area">
    <div class="slider">
        {% for category in categories %}
        <div class="slide {% if forloop.first  == True %}active{% endif %}" style="background-image: url('{{ category.cover_image.url }}'); object-fit: cover;">
            <div class="slide-container">
                <div class="caption">
                    <h1>{{ category.categorie_name }}</h1>
                    
                    <a href="{% url 'page:filter_category' category.slug %}">Ürünleri Gör <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}

        


    </div>



    <!-- controls  -->
    <div class="controls">
        <div class="prev"><i class="fa fa-chevron-left"></i></div>
        <div class="next"><i class="fa fa-chevron-right"></i></div>
    </div>

    <!-- indicators -->
    <div class="indicator">

    </div>

</section>