<div class="section" id="neden-biz">
    <center>
        <div class="container">
            <div class="row">
                <div class="col-12 px-1">
                    <div class="head" data-aos="zoom-in">
                        <h1 data-value="Neden Biz?">Neden Biz?</h1>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="row cards">
                {% if why_us %}
                {% for wh_t in why_us %}
                <div data-aos="zoom-in" class="col-md-4 col-12 mb-3">
                    <div class="card-box" data-aos="zoom-in">
                        <div class="row">
                            <div class="col-12 mt-1 mb-3 icon">
                                <i class="{{ wh_t.icon_code }}"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p><b>{{ wh_t.title }}</b></p>
                                <p class="mb-0">{{ wh_t.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                
            </div>
        </div>
        <center>
</div>