{% extends 'layout.html' %}

{% block body %}


<meta property="og:title" content="İletişim">
<title>İletişim</title>
<meta property="og:url" content="htpps://nartplastik.com/page/iletisim">

{% if site_settings %}
<meta property="og:description" content="{{ site_settings.site_aciklama }}">
<meta name="description" content="{{ site_settings.site_aciklama }}">
<meta name='keywords' content='{{ site_settings.site_keywords }}'>
{% endif %}

<div class="contact mt-3">
    <div class="container p-3">
        <div class="contact-area">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="map">
                        <iframe src="{{ site_settings.firma_harita_kodu }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="col-lg-9 col-12 form-area">
                    <div class="head" data-aos="zoom-in">
                        <h1 data-value="Bize Ulaşın">Bize Ulaşın</h1>
                    </div>
                    <div class="form">
    
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="inputBox">
                                <label for="">Ad Soyad</label>
                                <input type="text" name="full-name" placeholder="Adınız Soyadınız" id="" required>
                            </div>
                            <div class="inputBox">
                                <label for="">Email</label>
                                <input type="text" name="from-mail" placeholder="Mail Adresiniz" id="" required>
                            </div>
                            <div class="inputBox">
                                <label for="">Konu</label>
                                <input type="text" name="subject" placeholder="Konu" id="" required>
                            </div>
                            <div class="inputBox">
                                <label for="">Mesajınız</label>
                                <textarea name="message" id="" placeholder="Mesajınızı yazınız.." cols="30" rows="5"></textarea>
                            </div>
                            <div class="btn" data-aos="zoom-in">
                                <button type="submit" class="btn-hover color">Gönder <i class="fa fa-paper-plane"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

